<html>


<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body>

<div class="header">
  <a href="#default" class="logo">Catalog App</a>
  <div class="header-right">
    <br/>
 
    <a class="active" href="{{url_for('login')}}">Login</a>
   
  </div>
</div>
<br/>
<br/>

<table id="big" style='width: 100%'>
 <tr>
  <td></td>
  </tr>
 <tr>
  <td style='width: 75px'>
    <table style='width: 100%'>
     <tr>
      <td style='width: 12%'></td>
      <div  class="center">
	  <h1> Edit Category </h1>


<form action="{{ url_for('editCategory',category_id = category.id)}}" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{category.name }}'>


<input type='submit' value='Edit'>


<a href = '{{url_for('showCategories')}}'> Cancel </a>

</form>
      <td style='width: 76%'>  
      </div>    
      </td>
      <td style='width: 12%'></td>
     </tr>
    </table>
  </td>
 
 </tr>
</table>

</body>
</html>
