<!DOCTYPE html>
<html lang="en">
<head>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=init" async defer></script>`
</head>
<body>
  <div class="header">
    <a href="#default" class="logo">Catalog App</a>
    <div class="header-right">
      <br />
    </div>
  </div>
  <br />
  <br />
  <table id="big" style='width: 100%'>
    <tr>
      <td width=33%></td><br />
      <td>
        <div>
        </div>
        </div>
        <br />
        <br />
        <h1>Sign in with your Google Account</h1>
        <button class="g-signin2" id="signinButton">Sign in with Google</button>
        <script>
          function init() {
            gapi.load('auth2', function () {
              auth2 = gapi.auth2.init({
                client_id: '778549381288-qdlijd55mttsa77d20acir1lredah523.apps.googleusercontent.com',
              });
              $("#signinButton").click(function () {
                auth2.grantOfflineAccess({ 'redirect_uri': 'postmessage' }).then(offlineAccess);
              });
            });
          }
          function offlineAccess(resp) {
            var auth_code = resp.code;
            console.log(resp);
            $.ajax({
              type: "POST",
              url: "{{url_for('gconnect')}}?state={{state}}",
              processData: false,
              contentType: 'application/octet-stream; charset=utf-8',
              data: auth_code,
              success: function (result) {
                $("body").html(result);
                setTimeout(function () { window.location.href = '/categoryauth' }, 3000);
              }
            });
          }
        </script>
      </td>
      <td>
      </td>
      </div>
    </tr>
</body>
</html>