<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body>

<div class="header">
  <a href="#default" class="logo">Catalog App</a>
  <div class="header-right">
    <br/>
 
    <a class="active" href="{{url_for('login')}}">Login</a>
   
  </div>
</div>
<br/>
<br/>

<table id="big" style='width: 100%'>
 <tr>
  <td></td>
  </tr>
 <tr>
  <td style='width: 75px'>
    <table style='width: 100%'>
     <tr>
      <td style='width: 12%'></td>
      <div  class="center">
		<h1>{{ category.name }}</h1>
		
		{% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if items !=[] %}

		<a href = "{{url_for('newItem', category_id = category.id )}}">Create New Item</a>
	</br></br>

	<h2>Wooden</h2>

		{% for i in items %}
		{% if i.material == 'wooden' %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>
	
		<a href='{{url_for('editItem', category_id = category.id, menu_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteItem', category_id = category.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}

		

		</br></br>

	<h2>Plastic</h2>

		{% for i in items %}
		{% if i.material == 'Plastic' %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>
	
		<a href='{{url_for('editItem', category_id = category.id, menu_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteItem', category_id = category.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
        {% endif %}

		{% endfor %}
		
		

		</br></br>

	<h2>Metal</h2>

		{% for i in items %}
		{% if i.material == 'metal' %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>
	
		<a href='{{url_for('editItem', category_id = category.id, menu_id=i.id ) }}' >Edit</a>
	
	<a href='{{url_for('deleteItem', category_id = category.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}
		
		

		</br></br>

			<h2>Rubber</h2>

		{% for i in items %}
		{% if i.material == 'rubber' %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>
	
		<a href='{{url_for('editItem', category_id = category.id, menu_id=i.id ) }}' >Edit</a>
	
	<a href='{{url_for('deleteItem', category_id = category.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}
		
		

		</br></br>

	<h2>Other Material</h2>

		{% for i in items %}
		{% if i.material == 'other' %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>

		<a href='{{url_for('editItem', category_id = category.id, menu_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteItem', category_id = category.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
{% endif %}

		{% endfor %}
		
		

		{% else %}
		<p> You currently have no Items. <p>
		<a href = "{{url_for('newItem', category_id = category.id )}}">Create New Item</a>
			{% endif %}
</div>
  <td style='width: 76%'> 
      


      </div>    
      </td>
      <td style='width: 12%'></td>
     </tr>
    </table>
  </td>
 
 </tr>
</table>

</body>
</html>
